<html>
    <head>
        <title><TMPL_VAR title></title>
    </head>    
    <body>
        <h1><TMPL_VAR greeting></h1>   ### Comment should be removed.

        <h1>Total boys: <TMPL_VAR Boys></h1>
        <table>
            <TMPL_LOOP Boys>
                <tr>
                    <td><TMPL_VAR __PASS__></td>
                    <td><TMPL_VAR name></td>
                    <td><TMPL_VAR age></td>
                    <td>
                        <TMPL_SELECT friends | size="1">
                    </td>
                </tr>
            </TMPL_LOOP>
        </table>
        
    </body>
</html>
