<html>
    <head>
        <title><tmpl_var title></title>
    </head>    
    <body>
        <h1>Total: 8</h1>
        <br /><br />
        ### Comment should be removed.
        <h1>1: <tmpl_var greeting></h1>   ### Comment should be removed.
        <h1>2: <tmpl_var NAME="greeting"></h1>
        <h1>3: <tmpl_var NAME=greeting></h1>
        <h1>4: <!-- tmpl_var greeting --></h1>
        <h1>5: <!-- tmpl_var NAME="greeting" --></h1>
        <h1>6: <!-- tmpl_var NAME="greeting" ESCAPE="NONE" --></h1>
        <h1>7: <tmpl_var NAME="greeting" ESCAPE=NONE></h1>
        <h1>8: <tmpl_var greeting ESCAPE=NONE></h1>
        <tmpl_var unused>
        | <TMPL_VAR greeting> |   ### The spaces should be preserved.
    </body>
</html>
