<html>
    <head>
        <title><TMPL_VAR title></title>
    </head>    
    <body>
        <h1><TMPL_VAR greeting></h1>   ### Comment should be removed.

        <h1>Total boys: <TMPL_VAR boys></h1>
       
        <TMPL_TEXT user | size="20" maxlen="5">
        
    </body>
</html>
